<a class="btn btn-success" href="#product">Add</a>
<div id="products" class="row list-group">
    <div id="[[product.id]]" class="item col-xs-4 col-lg-4" ng-repeat="product in products">
        <div class="thumbnail">
            <a class="btn" href="#product/[[product.id]]">
                <img ng-src="[[product.image_url]]" alt=""/>
            </a>
            <div class="caption">
                <h4>[[product.name]]</h4>
                <p>[[product.description]]</p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p>$[[product.cost]]</p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success" href="#product/[[product.id]]">Edit</a>
                        <a class="btn btn-success" ng-click="deleteProduct(product.id)">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
